* {
	--color-main: #def2f1;
	--color-primary: #2b7a78;
	--color-primary-active: #3aafa9;
	--color-chat-display: #feffff;
}

body {
	background-color: var(--color-main);
}

.container {
	display: grid;
	margin: 100px;
	height: 600px;
	grid-template-columns:10% 90%;
	grid-template-rows: auto 34px;
	border: 1px solid black;
}


.contacts {
	grid-column-start: 1;
	grid-row-start: 0;
	grid-row-end: span 2;
	display: flex;
	flex-direction: column;
	background-color: var(--color-primary);
	height: 600px;
	overflow: auto;
	border-right: 1px solid black;
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
	border-bottom: 1px solid black;
}

.active {
	background-color: var(--color-primary-active);
}


.display {
	grid-column: 2 3;
	display: flex;
	flex-direction: column;
	background-color: var(--color-chat-display);
}

.message-input {
	border: 1px solid var(--color-primary);
	height: 32px;
	display: flex;
	padding-right: 5px;
	background-color: var(--color-primary);
}

.message-form {
	width: 95%;
	margin-left: 5px;
	border-radius: 25px;
	border: 0px;
	background-color: var(--color-primary-active);
	padding-left: 30px;
	padding-right: 40px;
	font-size: 1rem;
}

.message-form:focus {
	outline: none;
	border: 0px;
	resize: none;
}

.send-message {
	height: 28px;
	margin-top: 2px;
	position: absolute;
	right: 104px;
	border: 0px solid;
	border-radius: 25px;
}

.send-message > svg {
	font-size: 1.5rem;

}

.message {
	padding: 20px;
	margin: 10px;
	background-color: var(--color-primary-active);
	border: 1px solid var(--color-primary);
	border-radius: 10px;
}

.from {
	align-self: start;
}

.to {
	align-self: flex-end;
}